include _eventInfo

mixin eventPage(ev)
  .banner(class={"event-live": ev.islive, "event-over": ev.isover})
    .banner-content
      h2.banner-title #{page.title}
      div.image
        img(src=ev.image)
      if ev.quote
        blockquote.event-quote
          p &#147;#{ev.quote.text}&#148;
          span &mdash; #{ev.quote.by}
      p !{ev.description.replace(/\n/g, '</p><p>')}
  .content
    .section.event-page
      .event-info
        +eventInfo(ev, ev.lang || 'py')

      each round, num in ev.rounds
        .event-round
          h3 Round ##{num + 1}
          p !{round.replace(/\n/g, '</p><p>')}
    .section.bg-white.event-details
      h3 Further details
      ul
      each p in ev.details || []
        li !{p}
      else
        p Nothing more mentioned yet. Check back soon
      a.button(href="https://dashboard.ducs.in/sankalan/register/" data-id=`register-${ev.title.toLowerCase().replace(/ /g, '-')}`) Register
