include _eventInfo

mixin story(ct, c='')
  div.story(class=c)
    p !{ct.replace(/\n/g, '</p><p>')}
    p &nbsp;

mixin eventPage(ev)
  .banner(class={"event-live": ev.islive, "event-over": ev.isover, "event-nt": ev.isnontech, "event-fl": ev.isfunlearn})
    .banner-content(style="min-height: 250px;min-height: calc(256px + 3em)")
      h2.banner-title.event-title #{page.title}
      div.image
        img(src=ev.image.replace('/s1600/', '/w256/') alt=ev.title)
      .banner-text
        if ev.quote
          blockquote.event-quote
            p &ldquo;!{ev.quote.text}&rdquo;
            if ev.quote.by
              span &mdash; #{ev.quote.by}
        p !{ev.description.replace(/\n/g, '</p><p>')}
  .content
    .section.event-page
      if ev.story && !ev.rounds
        +story(ev.story, 'event-round')
      if ev.rounds
        .event-info
          +eventInfo(ev, ev.lang || 'py')
        each round, num in ev.rounds
          .event-round
            h3 Round ##{num + 1}
            p !{round.replace(/\n/g, '</p><p>')}
    .section.bg-white.event-details
      if ev.story && ev.rounds
        +story(ev.story)
      h3 Further details
      if !ev.details
        p Nothing more mentioned yet. Check back soon
      else
        ul
          each p in ev.details || []
            li !{p}
      if ev.reg !== 0
        a.button(rel="noopener" href="http://dashboard.ducs.in/sankalan/register/" data-id=`register-${ev.title.toLowerCase().replace(/ /g, '-')}`) Register
      if ev.fbpage
        a.button(href=ev.fbpage data-id=`fb-ev-${ev.title.toLowerCase().replace(/ /g, '-')}`) Facebook Event Page
