- const script = process.env.NODE_ENV === 'production' ? assets['bundle.js'] : `${assets.$}/js/bundle.js`;
- const stylesheet = process.env.NODE_ENV === 'production' ? assets['style.css'] : `${assets.$}/css/style.css`;
- const fonts = 'https://fonts.googleapis.com/css?family=Fira+Mono|Russo+One';

footer
  nav
    ul
      li
        a(class="xhr" href='/sankalan/2019/contact/' data-id='footer-contact') Contact
      li
        a(class="xhr" href='/sankalan/2019/terms/' data-id='footer-terms') Terms
      li
        a(href='https://dashboard.ducs.in/sankalan/2019/' data-id='footer-dashboard') Dashboard
      li.social(itemscope itemtype="http://schema.org/Organization")
        link(itemprop="url" href="https://csdu.github.io/sankalan/2019/")
        link(itemprop="logo" href="https://3.bp.blogspot.com/-hRUBNsFroTw/WoQqtKB941I/AAAAAAAAAGw/nwyz6wSxFT0-AxFmLRnVivVaikG4DLE3gCLcBGAs/s1600/logo.png")
        meta(itemprop="name" content="DUCS Sankalan")
        a(href="https://facebook.com/DUCS.Sankalan" title="Find us on Facebook" data-id='footer-FB' rel="noopener" target="_blank" itemprop="sameAs")
          img(src=`${assets.$}/images/fb-icon.svg`, alt="FB")
        | &nbsp;
        a(href="https://www.instagram.com/sankalan.ducs/" title="Find us on Instagram" data-id='footer-IG' rel="noopener" target="_blank" itemprop="sameAs")
          img(src=`${assets.$}/images/instagram-icon.png`, alt="Instagram")

  .copyright
    p Copyright &copy; 2019. Made with &hearts; by&nbsp;
      a(href='https://github.com/sidvishnoi' data-id="footer-dev")
        span(style="white-space: nowrap") Sudhanshu Vishnoi
      | .
    p Meet the #[a(class="xhr" href='/sankalan/2019/team/' data-id='footer-team') Sankalan Team].
    p Delhi University Computer Science Society (DUCSS)

script.
  function loadJs(a){const b=document.createElement('script');b.src=a,b.setAttribute('async','true'),document.documentElement.firstChild.appendChild(b)};function loadCSS(a){const b=document.createElement('link');b.href=a,b.setAttribute('rel','stylesheet'),document.documentElement.firstChild.appendChild(b)};
  loadCSS('#{stylesheet}');
  loadCSS('#{fonts}');
  loadJs('#{script}');
