- const prizeAmount = '50,000'

mixin navItem($name, $link)
  li
    a(href=$link, class="xhr" data-id=`ct-nav-${$name.toLowerCase().replace(/ /g, '-')}`) !{$name}

mixin nav()
  nav.content-nav
    ul
      li
        a.button(href='/sankalan/register/' style="text-shadow: none; color: #000" class="xhr" data-id='register-main') Register
      +navItem('Meet the team', '/sankalan/team/')
      +navItem('Need help?', '/sankalan/contact/')


.splash-wrapper
  .splash
    .splash-borders
      .top
      .right
      .bottom
      .left
    .splash-content
      div
        .title
          h1.splash-logo-text.logo Sankalan
        .text
          p Sankalan is the annual tech fest of Dept Of Computer Science, University of Delhi (DUCS).
          p &nbsp;
          p Prizes worth #[strong &#8377;#{prizeAmount}]!
          p &nbsp;
          p#splash-date
            span(title="Saturday, March 10th, 2018") March 10, 2018
            | &nbsp;&mdash;&nbsp;
            span(title="Sunday, March 11th, 2018") March 11, 2018
          p
            strong
              a(href="https://goo.gl/maps/YqMFB3uxy9m",
               target="_blank" rel="noopener",
               title="Get directions on Google Maps. See 'About' page for details.", style="color: #fafafa")  28&#176;41'17.2"N 77&#176;12'25.7"E
        +nav()
