- const email = 'sankalan@ducs.in'

mixin contact({ title, email, phone })
  .module
    .contact.vc
      if email
        a.button(href=`mailto://${email}`, data-id=`contact-${email}`) #{email}
      if phone
        - const p = phone.replace(/\s/g, '');
        a.button(href=`tel://${p}`, data-id=`contact-${p}`) #{phone}
      em #{title}

.banner
  .banner-content
    h2.banner-title Contact Us
.content
  .section
    div.module
      p For general queries, feel free to reach us at our Facebook page:
      a.button(href="https://facebook.com/DUCS.Sankalan" style="text-shadow: none" target="_blank" data-id="contact-FB") fb.com/DUCS.Sankalan
    div.module
      p You can also send us an email at
      a.button(href="mailto://" + email, style="text-shadow: none" data-id=`contact-${email}`) #{email}
  .section.bg-white.module
    div
      h3 We are located at:
      pre.
        Department of Computer Science,
        Faculty of Mathematical Sciences,
        New Academic Block,
        University of Delhi

    a.button(href="https://goo.gl/maps/YqMFB3uxy9m" target="_blank" style="margin-left: auto" data-id="contact-directions") Get Directions #[br] 28°41'17.2"N 77°12'25.7"E

  +contact({ title: "...if you need to talk to the web developer of Sankalan", email: "dev@ducs.in" })

  //- +contact({ title: "...if you're interested in sponsoring the fest", email: "sponsor@ducs.in", phone: "999999999"  })
