- const mobile = '9990395650'
- const email = 'sponsor@ducs.in'

.banner
  .banner-content
    h1.banner-subtitle #{page.title}
    h2.banner-title Thanks for the funds!
.content
  div
    .section.sponsors.bg-white
      each sponsor in sponsors.current
        img(src=sponsor.image.replace('/s1600/', '/h80/') alt=sponsor.name title=sponsor.name)

    br
    br
    .section.bg-white
      h2(style="text-align:center; margin-bottom:16px;border-bottom: 3px solid #eeb81d") Our past sponsors
      .sponsors
        - const re = /([\w\d_-]*)\.?[^\\\/]*$/;
        each sponsor in sponsors.past
          - const name = sponsor.match(re)[1]
          img(src=sponsor.replace('/s1600/', '/h70/') alt=name title=name)

    br
    br
    .section.bg-white
      h2 Interested in sponsoring us?
      h3 Reach us at:
      a.button(href='mailto:' + email data-id="sponsor-email") #{email}
      a.button(href='tel:+91' + mobile data-id="sponsor-phone") Call #{mobile}
