- const mobile = '9999999999'
- const email = 'sponsor@ducs.in'

mixin sponsor(s)
  a.sponsor(href=s.link target="_blank" title=s.name, style=`background-image: url('${s.image}'); background-size: cover; background-position: center center`, data-id=`sponsor-${s.name.toLowerCase().replace(/ /g), '-'}`)

.banner
  .banner-content
    h1.banner-subtitle #{page.title}
    h2.banner-title Thanks for the funds!
.content
  div
    .section.sponsors
      each sponsor in sponsors.current
        +sponsor(sponsor)
    .section.bg-white
      h2(style="text-align:center; margin-bottom:16px;border-bottom: 3px solid #eeb81d") Our past sponsors
      .past-sponsors
        - const re = /([\w\d_-]*)\.?[^\\\/]*$/;
        each sponsor in sponsors.past
          - const name = sponsor.match(re)[1]
          img(src=sponsor alt=name title=name)
    .section.bg-white
      h2 Interested in sponsoring us?
      h3 Reach us at:
      a.button(href='mailto:' + email data-id="sponsor-email") #{email}
      a.button(href='tel:+91' + mobile data-id="sponsor-phone") Call #{mobile}
