- const mobile = '9990395650'
- const email = 'sponsor@ducs.in'

style.
  h3.g {text-align:center; margin:16px auto;border-bottom: 3px solid #eeb81d;max-width:360px}

mixin sponsors(title, lst)
  .section.bg-white
    h3.g #{title}
    .sponsors
      each sponsor in lst
        if sponsor.link
          a(href=sponsor.link title=sponsor.name target="_blank" rel="nofollow" data-id=`sponsor-${sponsor.name.toLowerCase().replace(/ /g, '-')}`)
            img(src=sponsor.image.replace('/s1600/', '/h80/') alt=sponsor.name)
        else
          img(src=sponsor.image.replace('/s1600/', '/h80/') alt=sponsor.name title=sponsor.name)
  br

.banner
  .banner-content
    h1.banner-subtitle #{page.title}
    h2.banner-title Thanks for the funds!
.content
  div
    +sponsors('Associate Partners', sponsors.associate)
    +sponsors('Media Partners', sponsors.media)
    +sponsors('Knowledge Partners', sponsors.knowledge)
    +sponsors('Technology Partners', sponsors.technology)
    +sponsors('Audio partner', sponsors.audio)
    +sponsors('Educational Partners', sponsors.educational)
    +sponsors('Youth Community Partner', sponsors.youth_community)
    +sponsors('Food Partners', sponsors.food)
    +sponsors('Gaming Partners', sponsors.gaming)
    +sponsors('Amusement Partner', sponsors.amusement)
    .section.bg-white
      h2 Interested in sponsoring us?
      h3 Reach us at:
      a.button(href='mailto:' + email data-id="sponsor-email") #{email}
      a.button(href='tel:+91' + mobile data-id="sponsor-phone") Call #{mobile}
