mixin credit(type, key)
  - const p = people[key];
  .credit
    div
      p
        strong #{type}#{type ? ':' : ''}
      p #{p.name}
    div.avatar
      - const image = (p.image && p.image.replace('/s1600/', '/w56-h56-p/')) || `${assets.$}/images/www/one.svg`;
      if p.url
        a(href=p.url, target="_blank" rel="noopener" title=`${p.name} @ ${p.url}` data-id=`team-${key}`)
          img.avatar(src=image alt=p.name)
      else
        img.avatar(src=image alt=p.name title=p.name)
      if p.url
        - const img = p.url.includes('github.com') ? 'github-icon.svg' : 'fb-icon-white.svg';
        img.link(src=`${assets.$}/images/www/${img}`)

.banner
  .banner-content
    h1.banner-subtitle
    h2.banner-title #{page.title}
    p Sankalan won't be possible without its passionate team.
.content
  .section(style="color:#fff;background-color: rgba(0,0,0,0.5)")
    h2 The Panel
    .credits
      +credit('President', 'ashish-aggarwal')
      +credit('Vice President', 'mohit-kumar')
      +credit('General Secretary', 'puru-sharma')
      +credit('Joint Secretary', 'abhinav-kesarwani')
      +credit('Treasurer', 'ajay-jajoo')
    br
    h2 Developer Team
    .credits
      +credit('Web Developer', 'sudhanshu-vishnoi')
    br
    h2 Graphic Designers
    .credits
      +credit('', 'somnath-saha')
      +credit('', 'kirti-jain')
      +credit('', 'vipin-kumar')
      +credit('', 'shreshth-saxena')
      +credit('', 'niloy-biswas')
    br
    h2 Content Managers
    .credits
      +credit('', 'pradipti-kayal')
      +credit('', 'aashna-narula')
      +credit('', 'sudhanshu-vishnoi')
    br
    h2 Sponsorship Team
    .credits
      +credit('', 'rajni-dabas')
      +credit('', 'rahul-dewan')
      +credit('', 'anjali-bansal')
      +credit('', 'ajay-kumar')
      +credit('', 'radha-verma')
    br
    
    p As this list gets too long, we would like to thank all other people who contributed in Sankalan 2018.
